* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
}

.header-background {
    background-color: black;
    width: auto;
    height: auto;
}

header {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 15px;
}

.slogan-background { 
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    align-items: center;
    padding: 20px;
    border-radius: 0.5rem;
    border: 3px solid black;
}

img {
    box-shadow: 5px 5px 30px 5px black;
    border-radius: 0.5rem;
    height: auto;
}

.slogan-text {
   color: black;
   margin: 20px;
   font-size: 2.5rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}