* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

.slogan-background {
    background-image: url(https://picsum.photos/200/300); 
    color: black;
    align-items: center;
    padding: 20px;
    border-radius: 0.5rem;
    border: 3px solid black;
}

img {
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 0.5rem;

}