* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

.slogan-background { 
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    align-items: center;
    padding: 20px;
    border-radius: 0.5rem;
    border: 3px solid black;
}

img {
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 0.5rem;
}

.slogan-text {
    text-align: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background: linear-gradient(to right, purple, lightblue);
}